a{ cursor:pointer; } p{ cursor:default; }

/* App ---------------------------------------------------------------------------
*/
html,
body,
div#react-root {
  height: 100%;
  margin: 0
}

div#app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

div#app div.content, div#app div#source_selector{
  flex: 1 1 auto;
}

#footer {
  flex: 0 1 60px;
}

/* Header ---------------------------------------------------------------------------
*/
#header{
	z-index: 2;
	background-color: #2c3e50;
	padding: 0.2em 0;
}

#header div:nth-child(1){
	padding-left: 2em;
	height: 40px;
	background-color: white;
	margin:0.2em 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#header img, #header h3{
	font-size: 1.2em;
	width: auto;
	display: inline-block;
}

#header h3{	margin: 0 1em;}

#header img{
	margin-top:1.7em;
	height:4.5em;
	background-color: white;
	border-radius: 100%;
	border:solid 5px #2c3e50;
}

#header img:hover{
	cursor: pointer;
	filter: brightness(90%);
    transition: .2s;
}

#header div#links{	margin-right: 2em;}

#header div#links a{
	color: #2c3e50;
	font-size: 1.2em;
	display: inline-block;
	padding: 0 0.6em;
}

#header div#links a:hover{	color: #18bc9c;}

/* Footer ---------------------------------------------------------------------------
*/
div#footer{
	margin-top:1em;
	background-color: #2c3e50;
	padding: 0.4em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

/* Inner headers ---------------------------------------------------------------------
*/
div.content div.header{
	background-color: #18bc9c;
	display:flex;
	align-items: center;
}

div.content div.header h2{
	font-size: 2.5em;
	display: inline-block;
	margin: 0 0 0 4em ;
}

div.content div.header div.info{
	margin: 0.5em 0 0.5em 1em;
	padding-left: 1em;
	border-left: solid 3px #2c3e50;
}

div.content div.header div.info div:first-of-type{
	border-bottom: solid 3px #2c3e50;
}

div.content div.header span{
	font-size: 1.1em;
}

div.content div.header div.info div span{margin-right: 4em;}

/* Sources ---------------------------------------------------------------------------
*/
div#source_selector{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Sources ---------------------------------------------------------------------------
*/

div#source_selector label#extra-label{
  display: block;
  margin-bottom: 17px;
}

div#source_selector span.toggleSource{
  text-decoration: underline;
  cursor: pointer;
}

/* Entities ---------------------------------------------------------------------------
*/
div#explorer.entitySelector #link-to-dashboard{
  color:white;
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 10px;
  padding-bottom: 6px;
}

div#explorer.entitySelector .content input{
	height: 1.1em;
	border-color: lightgrey;
	display:inline-block;
	width:10em;
	text-align: left;
	margin: 0 10px 0 10px;
}

div#explorer.entitySelector li.entity{
	padding-left: 1em;
	color: #18bc9c;
	font-size: 1.2em;
}


div#explorer.entitySelector div.content{
	width: 100%;
	height: 100%;
}

div#explorer.entitySelector div.content div#graph{
  border-bottom: solid cadetblue;
}

div#explorer.entitySelector div.content div{height: 50%; width: 100%; padding:1em;}

div#explorer.entitySelector .tooltip{
	width:100%;
	flex-direction: column;
	align-items: center;
}

div#explorer.entitySelector .tooltip p{
	color: grey;
	margin:2px;
	display:inline-block;
}

div#explorer.entitySelector svg{
  height:100%;
  width:100%;
}

div#explorer div.content div#nodes svg{height:180%;}

div#explorer div.content div#nodes{
  overflow-y: scroll;
}


line.link {
    stroke: black;
    stroke-opacity: .5;
}
line.link.active {
    stroke-opacity: .9;
    stroke: rgb(102, 180, 58);
}
line.link.selected {
    stroke-opacity: .9;
  stroke: rgb(102, 180, 58);
}
line.link:hover{
    stroke-opacity: .9;
    cursor: pointer;
}

.node circle {
    fill: rgb(198, 233, 140);
}
.node.active circle {
    fill: rgb(102, 180, 58);
}
.node circle:hover {
    fill: rgb(102, 180, 58);
    cursor: pointer;
}
.node.selected circle, .node.active.selected circle {
  fill: red;
}

.node-count {
    font-weight: 700;
    opacity: .3;
    pointer-events: none;
}
.node-name {
    font-weight: 700;
    pointer-events: none;
    text-transform: capitalize;
}
.link-name {
    font-weight: 700;
    pointer-events: none;
}

g.entity text.attribute{
  cursor: pointer;
  opacity: 0.5;
}

g.entity text.attribute:hover{
  opacity: 1;
}

g.entity text.attribute-selected {
  opacity: 1;
  font-weight: 700;
  fill:rgb(102, 180, 58);
}


/* Explorer ---------------------------------------------------------------------------
 * https://projects.lukehaas.me/css-loaders/
*/
div#explorer, div#explorer div.content{
  height: 100%;
}

div#explorer div.content{
  min-height: 100%;
}


div#explorer div.content div#nodes text{
  font-size: 0.85em;
}

div#explorer div.content text#resetQueryButton{
  fill:indianred;
  stroke:indianred;
  cursor:pointer;
}

div#explorer div.content text#resetQueryButton:hover{
  fill:crimson;
  stroke:crimson;
}

/* Loader
*/
div#loader{
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#loader p{
	display:inline-block;
	color: #18bc9c;
	font-size: 1.2em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(24,188,156, 0.2);
  border-right: 1.1em solid rgba(24,188,156, 0.2);
  border-bottom: 1.1em solid rgba(24,188,156, 0.2);
  border-left: 1.1em solid #18bc9c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* VisWrapper ---------------------------------------------------------------------------
*/
div.visWrapper{
	border: solid 2px grey;
}

div.visWrapper div.header{
	border: solid 2px black;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	padding:1px;
}

div.visWrapper div.header p{
	margin: 0;
}

.button{
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    height: 1em;
    margin: 0;
    font-weight: bold;
}

/* Buttons ---------------------------------------------------------------------------
*/
button.button:hover{
	display: inline-block;
	padding-right: 7px;
	padding-left: 7px;
	height: 1em;
	margin: 0;
	font-weight: bold;
	box-shadow: inset 0 0 5px 0px grey;
}

/* Table -----------------------------------------------------------------------------
*/
div#Table{
	overflow: scroll;
}

/* Old rdf explorer ------------------------------------------------------------------
*/

/* Style the header */
div#PackedBubbles .header {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0px;
    text-align: center;
    font-size: 35px;
}

div#PackedBubbles svg {
    display: block;
    margin: 0;
}

div#PackedBubbles #top-container {
	/* display:flex;*/
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    display: table;
    width: 100%;
    text-align: center;
}

div#PackedBubbles #top-container div{
	/* display: inline-block; */
}


div#PackedBubbles .selector {
    max-width: 200px;
    font-size: 12px;
    margin-top: 0;
}


div#PackedBubbles .react-search-field {
    border: 1px solid rgb(221, 221, 221);
    display: inline-flex;
    justify-content: space-between;
    height: 35px !important;
    width: 80%;
}

div#PackedBubbles .react-search-field-input {
    max-width: 200px;
}

div#PackedBubbles #color-select, div#PackedBubbles #cluster-select {
    display: table-cell;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
}

div#PackedBubbles #color-select > div:first-of-type {
    margin-top: 10px;
    max-height: 20px;
}
div#PackedBubbles #color-select > div:first-of-type > div:first-of-type {
    max-height: 20px;
}

div#PackedBubbles #cluster-select > div:first-of-type {
    margin-top: 10px;
    max-height: 20px;
}
div#PackedBubbles #cluster-select > div:first-of-type > div:first-of-type {
    max-height: 20px;
}

div#PackedBubbles #color-select > div:nth-child(3), div#PackedBubbles #cluster-select div:nth-child(3) {
    margin-top: 0px!important;
    padding-top: 0px!important;
}

div#PackedBubbles #container {
    text-align: center;
}

/* Style the footer */
div#PackedBubbles .footer {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
}

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  font-size: 11px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip p{
	margin: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
